<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a class="nav-link text-body-secondary">Technology used</a></li>
            <li class="nav-item">
                <a href="https://www.prisma.io/" target=”_blank” class="nav-link px-6 text-body-secondary"><img src="https://seeklogo.com/images/P/prisma-logo-3805665B69-seeklogo.com.png" class="bi" width="50" height="50"></a>
            </li>
            <li class="nav-item">
                <a href="https://www.typescriptlang.org/" target=”_blank” class="nav-link px-6 text-body-secondary"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png" class="bi" width="50" height="50"></a>
            </li>
            <li class="nav-item">
                <a href="https://expressjs.com/" target=”_blank” class="nav-link px-6 text-body-secondary"><img src="https://adware-technologies.s3.amazonaws.com/uploads/technology/thumbnail/20/express-js.png" class="bi" width="50" height="50"></a>
            </li>
            <li class="nav-item">
                <a href="https://nodejs.org/en" target=”_blank” class="nav-link px-6 text-body-secondary"><img src="https://static-00.iconduck.com/assets.00/node-js-icon-227x256-913nazt0.png" class="bi" width="50" height="50"></a>
            </li>

        </ul>
        <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
    </footer>
</div>