<!DOCTYPE html>
<html>

<%- include('partials/head.ejs'); %>

    <body>
        <div class="container mt-2">
            <nav class="nav nav-pills nav-fill">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="/about">About me</a>
                <a class="nav-link" href="/aboutusers">Users</a>
                <a class="nav-link" href="/aboutposts">Posts</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">JSON</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/users" target=”_blank”>/users</a></li>
                        <li><a class="dropdown-item" href="/posts" target=”_blank”>/posts</a></li>


                    </ul>
                </li>

            </nav>
            <header>

                <h1>Welcome</h1>
                <p>
                    <%=title%>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>URL</th>
                            <th>. JSON File</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                <h2>About me</h2>
                            </td>
                            <td>
                                none
                            </td>
                            <td>
                                <a href="/about" target=”_blank”>
                                    <h2>/About me</h2>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h2>See all users</h2>
                            </td>
                            <td>
                                <a href="/aboutusers">
                                    <h2>/aboutusers</h2>
                                </a>
                            </td>
                            <td>
                                <a href="/users" target=”_blank”>
                                    <h2>/users</h2>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h2>See all Posts</h2>
                            </td>
                            <td>
                                <a href="/aboutposts">
                                    <h2>/aboutposts</h2>
                                </a>
                            </td>
                            <td>
                                <a href="/posts" target=”_blank”>
                                    <h2>/posts</h2>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <%- include('partials/footer.ejs'); %>

        </div>
    </body>

</html>